<p>Hello <%= @user.first_name.present? ? @user.first_name : @user.pseudo %>,</p>

<p>Welcome to Puzzle, the new Web3 tool to organize your community. Your mission is simple : get the Puzzle complete together!</p>

<p><%= link_to "Enter #{@project.name} Puzzle", project_tasks_url(@project) %></p>

<p>The Puzzle community</p>
